{{ form_start(formplaylist) }}     
 <div class="mt-3" >                                           
        <strong>nom : </strong>{{ form_row(formplaylist.name) }}
         <strong>description : </strong>{{ form_row(formplaylist.description) }}
    </div>     
        {{ form_end(formplaylist) }}
